.nav-bar{
    border:10px solid green;
    border-radius:7px;
    background-color: black;
    position: fixed;
    right:4px;
    
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.nav-bar a:hover{
    text-decoration: underline;
    background-color: white;
    color: rgb(233, 14, 14);
    cursor: pointer;
}
.body-text{
    border: 1px solid tomato;
    position: relative;
    left: 60px;
}
.body-text p::first-letter{
    font-size: 3rem;
    color: green;
}
.div1{
    border: 3px solid yellow;
    position: relative;
    left: 150px;
   
}
.div2{
    border: 5px solid blue;
    position: absolute;
    left: 150px;
}

iframe{
    margin: 50px auto;
    display: block;
}
.sticky-position{
    border: 3px solid blueviolet;
    height: 100px;
    position:sticky;
    top: 5px;
    width: 300px;
    margin: 0px auto;
}
.sticky-position h2{
    text-align: center;
}

.chat-box{
    border: 5px solid gray;
    height: 100;
    width:150px;
    position: fixed;
    bottom:3px;
    right: 3px;
}